
 html, body, #map {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.error {
    background-color: #DD2C00;
    color: #ffffff;
}
input {
    width: 90%;
    padding: 15px;
    margin: 5px;
}

#formDiv {
    float: left;
    width: 30%;
    height: 45%;
}

#mapDiv {
    width: 70%;
    height: 100%;
    float: right;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: rgba(59, 111, 255, 0.705);
    color: white;
}