
::placeholder {
    opacity: 1; 
    color:rgb(0, 54, 116);
}
body {
    background-image: url('../images/background.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}
#wrapper {
    font-family: 'Helvetica';
    margin: 30px auto;
    text-align: center;
    padding: 20px;
    width: 500px;
    height: 700px;
    background: rgba(194, 194, 194, 0.295);
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.15);
    border-radius: 4px;
}
#calculator {
    width: 100%;
    height: 100%;
}

#screen {
    width: 88%;
    height: 50px;
    margin: 20px auto;
    font-size: 50px;
    text-align: right;
    background-color: #8AC2DD;
    caret-color: transparent !important;
    border: 1px solid steelblue;
    border-radius: 7px;
    color:rgb(0, 54, 116);
    padding: 10px;
}
#buttons {
    height: 100%;
    width: 100%
}

button { 
    width: 22%;
    height: 16.2%;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.849);
    outline: none;
    margin: 2px;
    font-size: 30px;
    border:none;
    text-shadow: 9px #000;
}
button:hover {
    border: 1px solid steelblue;
    transition-property: initial;
    transition-duration: 0.3s;
}
.notification {
    background: rgba(255, 187, 0, 0.87);
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
    color: rgb(88, 65, 0); 
    margin-top: 30px;
}
.messageShake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both; 
    transform: translate3d(0, 0, 0); 
    backface-visibility: hidden; perspective: 1000px;
}
@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }